html,body{
    background-image: url(../images/jumbotronbg.jpg);
    color: white;
}
body {
    font-family: 'Open Sans',serif;
    padding-top: 54px;
    padding-left: 54px;
    color: #343a40;
}   
.jumbotron{
    float: left;
    
    
}
.jumbotron img{
    width: 400px;
    height:350px;
}
h1{
    font-style: italic;
    color: blueviolet;
    font-weight: bolder;
    background-color: white;
    width:auto;
}
.About{
    color:white;
    background-color: black;
}
.About img{
    width: 300px;
    height:200px;
    float: right;
}
.rdio input[type="radio"]:checked + label::after {
    background-color: #bd5d38;
}

.your-akan-name p {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1.2em;
    background-color: black;
}

.rdio {
    position: relative;
}

.rdio input[type="radio"] {
    opacity: 0;
}

.rdio label {
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 7px;
}

.rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    background: #fff;
}

.rdio input[type="radio"]:disabled + label  {
    color: #999;
}

.rdio input[type="radio"]:disabled + label:before  {
    background-color: #eee;
}

.rdio input[type="radio"]:checked + label::after  {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #bd5d38;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.rdio-default input[type="radio"]:checked + label:before {
    border-color: #bd5d38;
}

.rdio-primary input[type="radio"]:checked + label:before {
    border-color: #428BCA;
}

.rdio-primary input[type="radio"]:checked + label::after {
    background-color: #428BCA;
}

p.output span {
    color: white;
    font-size: 30px;
    background-color: black;
}




